body {
        font-family: Arial, sans-serif;
        padding: 20px;
    }
    .container {
        width: 300px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    input {
        width: 100%;
        padding: 8px;
        margin: 6px 0;
    }
    button {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        background: #C38FE1;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
    .hasil {
        margin-top: 20px;
        padding: 15px;
        border: 1px solid #aaa;
        border-radius: 8px;
        background: #f7f7f7;
    }